<form [formGroup]="form" (ngSubmit)="submit()" class="create-form">
  <label for="title">Title:</label>
  <br />
  <p *ngIf="title.errors?.minlength && title.touched">
    Min length 3 characters
  </p>
  <input
    type="text"
    id="title"
    placeholder="Enter book title"
    formControlName="title"
    appFocus
  />
  <br />
  <label for="image">Image URL:</label>
  <p *ngIf="image.errors?.minlength && image.touched">
    Min length 10 characters
  </p>
  <br />
  <input
    type="text"
    id="image"
    placeholder="Book associations URL "
    formControlName="image"
  />
  <br />
  <label for="author">Author:</label>
  <p *ngIf="author.errors?.minlength && author.touched">
    Min length 3 characters
  </p>
  <br />
  <input
    type="text"
    id="author"
    placeholder="Enter book summary"
    formControlName="author"
  />
  <br />
  <label for="about">About:</label>
  <p *ngIf="about.errors?.minlength && about.touched">
    Min length 3 characters
  </p>
  <br />
  <input
    type="text"
    id="about"
    placeholder="About book.."
    formControlName="about"
  />
  <br />
  <br />
  <button class="btn btn-dark" type="submit">Create</button>
</form>
