<div *ngIf="book">
  <div
    *ngIf="!editStateService.isEditing"
    class="book-details-container-extended"
  >
    <div>
      <button
        class="btn btn-warning"
        (click)="editStateService.setIsEditingTrue()"
      >
        Edit
      </button>
    </div>
    <h3>{{ book.title }}</h3>
    <img
      class="image"
      ngSrc="{{ book.image }}"
      alt="image"
      width="200"
      height="200"
      priority
    />
    <br />
    <small>{{ book.author }}</small>
    <p class="about-page">{{ book.about }}</p>
  </div>
  <div *ngIf="editStateService.isEditing">
    <button
      class="btn btn-secondary"
      (click)="editStateService.setIsEditingFalse()"
    >
      Cancel
    </button>
    <div class="edit-book-container">
      <app-create-book [book]="book"></app-create-book>
    </div>
  </div>
</div>
