<div class="about-container">
  <div class="inner-container">
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;Introducing our innovative Angular + Book List
      CRUD app, a powerful tool designed to streamline your book management
      experience. This application leverages the robust capabilities of Angular,
      providing a dynamic and responsive user interface for effortless book
      cataloging. Explore the simplicity of creating, updating, and managing
      your book list with our intuitive app, making book organization a seamless
      and enjoyable task.
    </p>
    <img
      class="image"
      ngSrc="./assets/angular%20logo.jpg"
      alt="image"
      width="500"
      height="300"
      priority
    />
  </div>
</div>
